.git
.gitignore
.venv
node_modules
npm-debug.log*
client_secret*.json
token*.json
*.ytmsort.json
data
.env
.DS_Store
*cookies*
browser-session.json
ytmsorter-workspace-*.json
coverage
.env.*
*.log
**/__pycache__
**/*.pyc
